<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
</head>
<body>

<header>
    <h1>Bowery Golang Meetup Chat Room</h1>
</header>
<hr/>

<div class="chat">

</div>
<hr/>
<input type="text" id="inputbox" placeholder="Message" />
<input type="submit" id="submit" />
</body>

<script>
  (function() {
    const socket = new WebSocket("ws://localhost:8080/chat/ws");
    socket.onclose = function(evt) {
      console.error("Connection Closed");
    };
    socket.onopen = function(evt) {
      console.log("Connection established");
    };
    socket.onmessage = (evt) => {
      console.log(`Message: ${evt.data}`);
    };

    const inputbox = document.getElementById('inputbox');
    const submitButton = document.getElementById('submit');
    submitButton.addEventListener('click', () => {
      socket.send(inputbox.value);
    });

  })();

</script>
</html>